<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="col-6">
        <h2 class="text-end text-secondary">Kalan Zaman: {{min}}:{{sec}}</h2>
        <div class="card">
            <div class="card-header">
                <h1>Soru: {{questions[whichQuestion]?.question}}</h1>
            </div>
            <div class="card-body">
                <p class="alert" [ngClass]="answer === 'A' ? 'alert-success' : 'alert-light'" (click)="answer='A'">
                    A) {{questions[whichQuestion]?.answerA}}
                </p>
                <p class="alert" [ngClass]="answer === 'B' ? 'alert-success' : 'alert-light'" (click)="answer='B'">
                    B) {{questions[whichQuestion]?.answerB}}
                </p>
                <p class="alert" [ngClass]="answer === 'C' ? 'alert-success' : 'alert-light'" (click)="answer='C'">
                    C) {{questions[whichQuestion]?.answerC}}
                </p>
                <p class="alert" [ngClass]="answer === 'D' ? 'alert-success' : 'alert-light'" (click)="answer='D'">
                    D) {{questions[whichQuestion]?.answerD}}
                </p>                
            </div>
            <div class="card-header">
                <button [disabled]="answer === ''" (click)="nextQuestion(questions[whichQuestion]?.id)" class="btn btn-dark">
                    @if(whichQuestion === questions.length -1){
                        <span>Sınavı Bitir</span>
                    }@else {
                        <span>Sonraki Soru</span>
                    }
                    
                </button>                
            </div>
        </div>
    </div>
</div>