<div class="row">
    <div class="col-6" *ngFor="let c of counter">
        <div class="card mt-1">
            <img src="https://kampanya.peugeot.com.tr/Content/campaign/uploads/car-thumb/3008-baseball-2021.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>
